{% extends "layout.html" %}

{% block content %}
  <script type="text/javascript" src="{{ url_for('static', filename = 'index.js') }}"></script>

  <div class="m-4 mb-5 lead text-center">
    Welcome to our website generator! Let's get started. <br>
  </div>
  <div class="m-3 lead text-center">
	  What are you looking to sell?
  </div>
  <div class="m-3 text-center">
  	<input type="text" name="" value="" id="product_id" placeholder="Product">
  </div>
  <div class="m-2 text-center">
  	<button type="button" name="button" class="btn btn-secondary" id="submit-product_id">Submit</button>
  </div>

{% endblock %}