<!DOCTYPE html>
<html lang="en">
  <head>
	<script>
	//this is super important -- lets us access all the json items in javascript

	</script>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUProduct Website GeneratorcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel = "stylesheet" href="/static/styles/main.css" />
	<script src = "/static/paragraph.js"></script>
	<script>
    let data = {{data|tojson}}
	</script>

	<title>Product Website Generator</title>
  </head>
  <body>
  <p>
    The product you're selling is: {{data['product_id']}}
    The name you picked for it is: {{data['product_name']}}
    The tagline you picked is: {{data['product_tagline']}}
  </p>
  <p>
    Here's a suggested paragraph for your product
  </p>
  <p>
    {{data['product_paragraph']}}
  </p>
  <p>Here's also some suggested colours for your website: </p>
  <p>{{data['numbered_product_colours']}}</p>
  <p>Which colour do you want your website to be primarily? <input type="text" name="" value="" id="product_colour"><button type="button" name="button" id="submit_product_colour"></button></p>
  </body>
</html>
