{% extends "layout.html" %} {% block content %}
<script
  type="text/javascript"
  src="{{ url_for('static', filename = 'secondarycolour.js') }}"
></script>
<script>
  let data = {{data|tojson}}
</script>

<div class="m-4 lead">
  Here's some suggested complimetary colours for the website
</div>
<div class="m-4">{{data['numbered_product_seccolours']}}</div>

<br /><br />
<div class="m-3 lead text-center">
  Which secondary colour do you want your website to be?
</div>
<div class="m-3 text-center">
  <input type="text" name="" value="" id="product_sscolour" />
</div>
<div class="m-3 text-center">
  <button
    type="button"
    name="button"
    class="btn btn-secondary"
    id="submit_product_sscolour"
  >
    Submit
  </button>
</div>
{% endblock %}
