{% extends "layout.html" %} {% block content %}
<script
  type="text/javascript"
  src="{{ url_for('static', filename = 'tagline.js') }}"
></script>
<script>
  let data = {{data|tojson}}
</script>

<div class="m-4 lead">
  Here's a couple of suggested taglines for your product:
</div>
<div class="m-4">{{data['numbered_product_taglines']}}</div>

<br /><br />
<div class="m-3 lead text-center">
  Enter the tagline you want to pick for the product:
</div>
<div class="m-3 text-center">
  <input type="text" name="" value="" id="tagline_name" />
</div>
<div class="m-3 text-center">
  <button
    type="button"
    name="button"
    class="btn btn-secondary"
    id="submit_tagline_name"
  >
    Submit
  </button>
</div>
{% endblock %}
