<!DOCTYPE html>
<html lang="en">
  <head>
    <script>
      //this is super important -- lets us access all the json items in javascript
    </script>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/static/styles/main.css" />

    <script src="/static/index.js"></script>
    <script src="/static/tagline.js"></script>
    <script>
      let data = {{data|tojson}}
    </script>

    <title>Product Website Generator</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="/">Online Creative Director</a>
      </div>
    </nav>
    <div class="container">
      <div class="row text-center">
        <div class="col-12">
          <div class="large bold">
            The product you're selling is: {{data['product_id']}} The name you
            picked for it is: {{data['product_name']}}
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row text-center">
        <div class="col-12">
          <div class="large bold">
            Here's a couple of suggested taglines for your product:
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row text-center">
        <div class="col-12">
          <div class="large bold">{{data['numbered_product_taglines']}}</div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row text-center">
        <div class="col-12">
          <div class="large bold">
            Enter the tagline you want to pick for the product:
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row text-center">
        <div class="col-12">
          <div class="large bold">
            <input type="text" name="" value="" id="tagline_name" />
            <button type="button" name="button" id="submit_tagline_name">
              Submit
            </button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
