
<!DOCTYPE html><html lang="en">
  <head>
    <meta charset="UTF-8">
  	<meta http-equiv="X-UA-Compatible" content="IE=edge">
  	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUProduct Website GeneratorcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<style media="screen">
  .brand-name{
    background-color: {{data['product_colour']}};
  }
  h2{
    color: {{data['product_sscolour']}};
  }
</style>
  <script>
    let data = {{data|tojson}}
	</script>

  </head>
  <body>
  <div class="brand-name" >
    <h1>{{data['product_name']}}</h1>
    <h2>{{data['product_tagline']}}</h2>
  </div>
  <div class="brand-paragraph" style="background-color:white;">
    <p>{{data['product_paragraph']}}</p>
  </div>
  </body>
</html>
