{% extends "layout.html" %}

{% block content %}
  <script>
    let data = {{data|tojson}}
  </script>

  <style media="screen">
    .brand-name{
      background-image: linear-gradient(to bottom, {{data['product_colour']}}, #FFFFFF);
    }
    h2{
      color: {{data['product_sscolour']}};
    }
  </style>

  <div style="background-color: white; height:100vh;">
    <div class="brand-name p-4 text-center">
      <h1 class="display-4">{{data['product_name']}}</h1>
      <h2>{{data['product_tagline']}}</h2>
    </div>
    <div class="brand-paragraph m-3">
      <p class="lead">{{data['product_paragraph']}}</p>
    </div>
  </div>
{% endblock %}